@CHARSET "UTF-8";

.head-info {
	text-align: center;
	margin-top: 45px;
	border-bottom: 1px solid #F0F0F0;
	padding-top: 10px;
}

.popup {
	position: fixed;
	top: 36%;
	left: 0px;
	width: 100%;
	margin-left: 0px;
	background: none;
}

.jiantou {
	top: 186px;
	display: inline-block;
	position: absolute;
	right: 15px;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-transform: rotate(45deg);
}

.wchat-weixin {
	text-align: left;
}

.ali-pay {
	text-align: left;
}

.s-btn button.alipay {
	background: #FF6600;
}

.s-btn button {
	width: 100%;
	border: 0;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	background: #FF6600;
	outline: none;
}