#internalSection {padding: 0;}

.themes .col-theme {float: left; width:20%}
.themes .theme {width: 90%; float: left; cursor: pointer; margin:0 auto 20px; border: 1px solid #ccc; border-radius: 2px; min-width: 200px; position: relative; opacity: 0.9; overflow: hidden;}
.themes .theme-name {padding: 5px 30px 4px; background-color: #f1f1f1;}
.themes .theme > .actions {position: absolute; bottom: 2px; right: 2px}
.themes .theme > .actions > a:hover {background-color: #ddd}
.themes .theme-img {height: 170px; overflow: hidden; opacity: 0.9}
.themes .theme:hover .theme-img {opacity: 1;}
.theme > .btn-custom {position: absolute; display: none; opacity: 0; width: 90px; left: 20px; top: 23px; z-index: 10; color: #fff!important}
.themes .theme.current > .btn-custom {opacity: 1; display: block;}
.themes .theme > .icon {position: absolute; right: 0; top: 0; display: none; z-index: 10}
.themes .theme.current > .actions {display: none}
.themes .theme.current > .icon {position: absolute; right: 0; top: 0; display: block; color: #fff; background: none; width: 0; height: 0; border: 20px solid #229F24; border-left-color: transparent; border-bottom-color: transparent;}
.themes .theme.current > .icon:before {position: absolute; right: -15px; top: -15px}
.themes .theme:hover {border-color: #145ccd; -moz-box-shadow:0px 0px 6px #145ccd; -webkit-box-shadow:0px 0px 6px #145ccd; box-shadow:0px 0px 6px #145ccd;}
.themes .theme.current {border-color: #47A447; -moz-box-shadow:0px 0px 6px #47A447; -webkit-box-shadow:0px 0px 6px #47A447; box-shadow:0px 0px 6px #47A447; opacity: 1}

#mainArea {position: relative; border: none; box-shadow: none; margin-bottom: 0;}
#mainArea .cards {padding-top: 0;}
#mainArea .themes .theme-name {padding: 5px;}
#mainArea .themes .theme-img > .theme-info {position: absolute; color: #fff; background-color: #888; position: absolute; border-radius: 12px; line-height: 20px; text-align: center; padding: 2px 10px; right: 8px; top: 8px; font-weight: 200; opacity: 0.9}
#mainArea .themes .theme:hover .theme-img > .theme-info {opacity: 1}
#mainArea .themes .theme-name .dropdown {position: absolute; right: 5px; bottom: 5px;}
#mainArea .pager {margin: 0 5px 0 0}

#industryBox #theme-all{padding-left:22px;}

.modal-theme-preview {position: fixed!important; top: 0!important; right: 0!important; bottom: 0!important; left: 0!important; margin: 0!important; }
.modal-theme-preview .panel {border: none; border-radius: 0; margin: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.modal-theme-preview .image-box {position: absolute; top: 41px; left: 0; right: 0; bottom: 0; overflow-y: auto;}
.modal-theme-preview .modal-body {position: static}
.modal-theme-preview .image-box .next,
.modal-theme-preview .image-box .prev {position: fixed; left: 0; top: 50%; margin-top: -25px; width: 50px; height: 50px; line-height: 62px; text-align: center; z-index: 1200;  background-color: rgba(0,0,0,.05)}
.modal-theme-preview .image-box .next {left: auto; right: 0;}
.modal-theme-preview .image-box .next:hover,
.modal-theme-preview .image-box .prev:hover,
.modal-theme-preview .image-box .next:active,
.modal-theme-preview .image-box .prev:active {background-color: #eee; background-color: rgba(0,0,0,.2); text-decoration: none;}
#return {position: absolute; top: 4px; right: 10px;}
#theme-heading > strong {font-weight: bold; font-size: 16px; margin-right: 10px; display: inline-block;}
#theme-heading > span {display: inline-block;}
#theme-heading > span > a {display: block; padding: 0 2px; color: #666;}
#theme-heading > span.active > a,
#theme-heading > span > a:hover {color: #347aeb; text-decoration: none}
#theme-heading > span.active > a {color: #333; font-weight: bold;}

.messagers-holder{position: fixed; z-index: 99999; padding: 10px; pointer-events: none;}
.messagers-holder.top{top: 0; left: 0; right: 0;}
.messagers-holder.top .messager{position: static; display: table; margin: 10px auto; overflow: hidden;}
