<!-- 编辑商品公共代码 -->
<!-- <nav class="sidebar-right" style="display:none;"> -->
<!-- 	<ul> -->
<!-- 		<li> -->
<!-- 			<img src="ADMIN_IMG/goods/return_top.png" title="飞回顶部" /> -->
<!-- 		</li> -->
<!-- 	</ul> -->
<!-- </nav> -->

<div id="fixedNavBar" style="right:20px;">
	<h3>页面导航</h3>
	<ul>
		<li data-floor="js-goods-info"><a href="javascript:;">商品信息</a></li>
		<li data-floor="js-goods-type"><a href="javascript:;">商品类型</a></li>
		<li data-floor="js-goods-img"><a href="javascript:;">商品图片</a></li>
		<li data-floor="js-goods_detail"><a href="javascript:;">商品详情</a></li>
		<li data-floor="js-goods-express-info"><a href="javascript:;">商品物流信息</a></li>
		<li data-floor="js-goods-point"><a href="javascript:;">积分购买设置</a></li>
		<li data-floor="js-goods-other"><a href="javascript:;">其他信息</a></li>
	</ul>
</div>