@CHARSET "UTF-8";

.dislog-style {
	width: 80%;
	margin: 40px auto;
}

.dislog-style ul {
	width: 100%;
}

.dislog-style ul li span {
	display: inline-block;
	width: 60px;
	text-align: center;
	height: 40px;
	line-height: 31px;
}

.dislog-style ul li input {
	width: 200px;
}

.modal.fade {
	top: 170%;
}

.dialog_main {
	width: 100%;
	/* background: #f2f2f2; */
}

.dialog_body {
	overflow: hidden;
}

.dialog_body aside, .dialog_body article {
	float: left;
	height: 80%;
	overflow: auto;
	position: relative;
}

.dialog_body article ul, .dialog_body aside ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.dialog_body aside {
	padding-bottom:10px;
	width: 18%;
	background: #f2f2f2;
}

.dialog_body aside ul li {
	height: 30px;
	line-height: 30px;
	padding: 8px;
	cursor: pointer;
	font-size: 12px;
}

.dialog_body aside ul li span {
	float: right;
	/* 	padding-right: 10px; */
}

.dialog_body article {
	width: 80%;
	background: white;
	padding-top: 10px;
}

.dialog_body article ul li {
	float: left;
	width: 115px;
	position: relative;
	height: 120px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.dialog_body article ul li img:FIRST-CHILD {
	width: 116px;
	height: 116px;
	cursor: pointer;
	border: 2px solid white;
}

.icon_ok {
	position: absolute;
	display: none;
	right: -2px;
	bottom: 2px;
	z-index: 1;
	height: 20px;
	width: 20px;
}

.dialog_body article ul li span {
	text-align: center;
	display: block;
}
#turn-ul .according-number input{
	height:25px;
	text-align: center;
	width: 30px;
}
.dialog_main input[type='button'] {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width: 110px;
	color: #999;
	background: #f0f0f0;
	border: 1px solid #ddd;
	text-align: center;
	outline: none;
	border-radius: 2px;
}

.input_blue {
	color: #fff !important;
	background: #07d !important;
	border: 1px solid #006cc9 !important;
	background: #07d !important;
}

#input_blue:hover {
	color: #fff;
	background: #0080ED;
	border: 1px solid #0080ED;
}

.dialog_main footer {
	padding: 10px;
	text-align: center;
}

.dialog_main footer span {
	position: absolute;
	left: 10px;
	margin-top: 5px;
	color: #333;
	font-size: 12px;
	margin-top: 5px;
}

.select_type {
	background-color: white;
}

.select_img {
	border: 2px solid #07d !important;
}

.div_page {
	text-align: right;
	width: 100%;
	height: 30px;
	background: #f8f8f8;
	line-height: 30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px 0;
}

.div_page span.num {
	font-size: 12px;
	padding: 4px 8px;
	margin: 0 0 0 2px;
	min-width: 28px;
	border: 1px solid #ddd;
	background: #fff;
	text-align: center;
	border-radius: 2px;
}

.div_page input {
	background: #fff;
	margin: 5.5px 3px 0 2px;
	width: 40px;
	height: 19px;
}

.page_available {
	padding: 4px 8px;
	margin: 0 0 0 2px;
	min-width: 28px;
	border: 1px solid #ddd;
	font-size: 12px;
	background: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
	text-align: center;
}

.page_index {
	background: #f8f8f8 !important;
	border-color: #ddd !important;
}

.none_info {
	line-height: 250px;
	text-align: center;
	height: 100%;
}