<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安装程序 -多米影视管理系统</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
  <div class="top-logo">
    <h1>多米影视管理系统<?php echo $verMsg; ?> 安装程序</h1>
  </div>
  <div class="top-link">
    <ul>
      <li>DuomiCms<?php echo $verMsg; ?></li>
    </ul>
  </div>
  <div class="top-version">
  <a href="http://www.duomicms.net" target="_blank">官方网站</a>
     <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=4ef2bcd2fc069c2954f0cde8d892c0be46e9efc864a0f413c2dd0e79176b784d">官方交流QQ群：495417896</a>
  </div>
</div>
<div class="main">
  <div class="pleft">
    <dl class="setpbox t1">
      <dt>安装步骤</dt>
      <dd>
        <ul>
          <li class="succeed">许可协议</li>
          <li class="succeed">环境检测</li>
          <li class="succeed">参数配置</li>
          <li class="succeed">程序安装</li>
          <li class="now">安装完成</li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="pright">
    <div class="pr-title">
      <h3>安装完成</h3>
    </div>
    <div class="install-msg"> 恭喜您!已成功安装多米影视管理系统.您现在可以: <br />
      <?php echo $errmsg; ?> </div>
    <div class="over-link fs-14" style="margin-bottom:20px"> <a href="../">访问网站首页</a> <a href="../admin/login.php">登陆网站后台</a> </div>
  </div>
</div>
<div class="footer clearfix"> Copyright © 2015-2016 多米(DuomiCms)影视管理系统 版权所有 Power By <a href="http://www.duomicms.net" target="_blank">DuomiCms</a> in <a href="http://www.samfea.com" target="_blank">SAMFEA</a>. </div>
</body>
</html>
